body {
	background-color: #ffffff;
}

.container {
	display: grid;
 	grid-gap: 10px;
 	grid-template-columns: 25% 25% 25% 25%;
 	grid-template-rows: 25% 25% 25% 25%;
 	justify-content: stretch;
  	grid-template-areas:
  		"schedule schedule time time"
  		"schedule schedule time time"
  		"schedule schedule news news"
  		"schedule schedule news news";
}

#item-a {
	background-color: #e0e0e0;
	grid-area: schedule;
}

#item-b {
	background-color: #f0f0f0;
	grid-area: time;
}

#item-c {
	grid-area: news
}

#countdown-content {
	font-size: 350px;
	font-family: 'Orbitron', sans-serif;
	color: #ffffff;
	padding: 20vh 0vw 0vh 5vw;
}

#countdown {
	/*left: 3%;*/
}

#countdowntext {
	position: fixed;
	top: 10%;
	left: 25%;
	font-size: 80px;
	/*position: absolute;*/
	display: none;
}
